@import "tailwindcss";

@theme {
    --color-cream: #b7b09c;

    --color-purple-900: #5A0E72;

    --color-red-university: #C00404;

    --color-blue-900: #2c3e50;
    --color-blue-700: #002B52;
    --color-blue-500: #003c70;
    --color-blue-300: #527da1;
    --color-blue-50: #a3b8ca;
    --color-blue-navbar: #060839;
    --color-blue-cbc: #27236a;

    --color-keppel-800: #0A6559;
    --color-keppel-700: #00947D;
    --color-keppel-600: #00b398;
    --color-keppel-500: #04c8a6;
    --color-keppel-400: #1de4bf;
    --color-keppel-300: #51f7d3;
    --color-keppel-200: #90ffe2;
    --color-keppel-100: #c7fff1;
    --color-keppel-50: #effefa;

    --color-sunglow-700: #b75506;
    --color-sunglow-600: #dd7a02;
    --color-sunglow-500: #f9a207;
    --color-sunglow-400: #ffc72c;
    --color-sunglow-300: #ffd74a;
    --color-sunglow-200: #ffe888;
    --color-sunglow-100: #fff5c6;
    --color-sunglow-50: #fffbeb;

    --color-ruby: #450a0a;
}

